/* Personaliza a barra de rolagem no Firefox */
* {
  scrollbar-width: thin; /* Largura da barra de rolagem */
  scrollbar-color: rgb(0, 162, 232) rgb(40,21,56); /* Cor do thumb e do track */
}

body {
 background: var(--preto-gradient);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
